<!-- Single Page Default -->
{{ partial "htmlhead" . }}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

                {{ partial "header" . }}
                {{ partial "nav" . }}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
                        <section class="post">
                            <header class="major">
                                {{ if not .Date.IsZero }}
                                <span class="date">{{ .Date.Format (.Site.Params.DateFormat | default "January 2, 2006") }}</span>
                                {{ end }}
                                <h1>{{ .Title }}</h1>
                                <p>{{ .Description }}</p>
                            </header>
                            {{ if .Params.image }}
                                {{ if .Params.image_ref }}
                                    <div class="image main"><a href="{{ .Params.image_ref }}"><img src="{{ .Params.image | relURL }}" alt="" /></a></div>
                                {{ else }}
                                    <div class="image main"><img src="{{ .Params.image | relURL }}" alt="" /></div>
                                {{ end }}
                            {{ end }}
                            {{ .Content }}

                            <!-- Tags Footer -->
                            <div style="text-align: center;">
                                |
                                {{ if .Params.tags }}
                                    <strong>Tags:</strong>
                                    {{ range $k, $v := .GetTerms "tags" }}
                                        {{- if $k }}, {{ end }}
                                            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                                        {{- end }}
                                    |
                                {{ end }}
                                {{ if .Params.locations }}
                                    <strong>Locations:</strong>
                                    {{ range $k, $v := .GetTerms "locations" }}
                                        {{- if $k }}, {{ end }}
                                            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                                        {{- end }}
                                    |
                                {{ end }}
                                {{ if .Params.categories }}
                                    <strong>Categories:</strong>
                                    {{ range $k, $v := .GetTerms "categories" }}
                                        {{- if $k }}, {{ end }}
                                            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                                        {{- end }}
                                    |
                                {{ end }}
                            </div>
                            <!-- End Tags Footer -->
                            {{ partial "postcustom" . }}

                            <!-- Start post navigation -->
                            <br />
                            <!-- Newer Posts -->
                            <div style="font-size: 125%; width: 50%; float: left; text-align: left;">
                                {{ with .NextInSection }}
                                    <!-- <a href="{{ .Permalink }}"><strong>←</strong> Newer ({{ .Title }})</a> -->
                                    <a href="{{ .Permalink }}"><strong>←</strong> Newer</a>
                                {{ end }}
                            </div>

                            <!-- Older Posts -->
                            <div style="font-size: 125%; width: 50%; float: right; text-align: right;">
                                {{ with .PrevInSection }}
                                    <!-- <a href="{{ .Permalink }}">Older ({{ .Title }}) <strong>→</strong></a> -->
                                    <a href="{{ .Permalink }}">Older <strong>→</strong></a>
                                {{ end }}
                            </div>
                            <br />
                            <!-- End post navigation -->

                            {{ if not (eq .Params.disableComments true) }}
                            {{ template "_internal/disqus.html" . }}
                            {{ end }}
                        </section>

					</div>

                    {{ partial "footer/index" . }}
                    {{ partial "copyright" . }}

            </div>
            {{ template "_internal/google_analytics.html" . }}
            {{ partial "scripts/index" . }}
	</body>
</html>
